<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Comment</title>
</head>

<body>
  <h1>Show Comment ID: <%= comment.id %></h1>
  <h2>
    <%= comment.comment %> - <%= comment.name %>
  </h2><br>
  <a href="/comments">Back</a>


</body>

</html>